{% extends 'base_publico.html'%}

{% block body %}



<div>
    <span>Nome: </span>
    <span>{{cliente.nome}}</span>
</div>

<a>
    <div class="tabs is-centered">
        <ul>
            <li data-tab-id="tab-contatos" class="is-active">
                <a>
                    <span><i class="fa-regular fa-address-card"></i></span>
                    <span>Contatos</span>
                </a>
            </li>
            <li data-tab-id="tab-enderecos" class="is-active">
                <a>
                    <span><i class="fa-solid fa-map-location-dot"></i></span>
                    <span>Enderecos</span>
                </a>
            </li>
        </ul>
    </div>
</a>
<div id="tab-contatos" class="tab-content active">
    {% include 'clientes/tabs/tab-contatos.html'%}
</div>
<div id="tab-enderecos" class="tab-content">
    Olá mundo
</div>

{% load static %}
<script src="{% static 'js/cliente-contato.js' %}"></script>

{% endblock %}