<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <span class="title has-text-black"></span>
            <img
                    src="https://t4.ftcdn.net/jpg/04/88/13/69/360_F_488136959_Z2kaPFQxVcVjqBJkPrdIXJXr5Xv6xk1k.jpg"
            />
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/interno ">
                <span class="icon"> 
                <i class="fa-solid fa-house"></i>
               </span>
                <span>Home</span>
            </a>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="button is-info">
                        <strong>Sair</strong>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>