<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
                <span class="title has-text-black"></span>
                <img
            src="https://t4.ftcdn.net/jpg/04/88/13/69/360_F_488136959_Z2kaPFQxVcVjqBJkPrdIXJXr5Xv6xk1k.jpg"
            />


        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/interno ">
                <span class="icon"> 
                <i class="fa-solid fa-house"></i>
               </span>
                <span>Home</span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Cadastros Básicos
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/interno/categoria">
                        Categorias
                    </a>
                    <a class="navbar-item" href="/interno/cliente">
                        Clientes
                    </a>
                    <a class="navbar-item" href="/interno/produto">
                        Produtos
                    </a>
                    <a class="navbar-item" href="/interno/estado">
                        Estados
                    </a><a class="navbar-item" href="/interno/categoria-form">
                        Categorias Form
                    </a>

                </div>
            </div>
        </div>
</nav>