<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados do carro comprado</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'exemplos_basicos/carro-form.css' %}"">
</head>
<body>
    <a href="home">Voltar</a>
        <span><b>Modelo:</b> {{mdl}}<span><br>
        <span><b>Preço:</b> {{prc}}<span><br>
        <span><b>Ano:</b> {{ano}}<span><br>
        <span><b>Cor:</b> {{cor}}<span><br>
    

</body>
</html>