<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'exemplos_basicos/sobre.css' %}"">
</head>
<body>
    <a href= "home">Home</a>
    <span><b>Nome:</b> {{nm}}<span><br>
    <span><b>Sobrenome:</b> {{sbr}}<span><br>
    <span><b>Nome Completo:</b> {{nmc}}<span><br>
    <span><b>Idade:</b> {{ida}}<span><br>
    <span><b>Ano de Nascimento:</b> {{nasc}}<span><br>
    <span><b>Peso:</b> {{ps}}<span><br>
    <span><b>Altura:</b> {{alt}}<span><br>
    <span><b>IMC:</b> {{imc}}<span><br>
        <li><img src=https://qph.cf2.quoracdn.net/main-qimg-a47e1b4a1b4726e86c4647000aabd56c-pjlq></li>
</body>
</html>